---
import "../../styles/global.css"
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro" 
import type {PokemonListResponse} from  "../../types"

// Manera estatica
// export const getStaticPaths = (() => {
//     return [
//         {
//             params: {name: 'bulbasaur'}, 
//             props: {name: 'bulbasaur', url: "https://pokeapi.co/api/v2/pokemon/1/" }
//         },
//         {
//             params: {name: 'charmander'}, 
//             props: {name: 'charmander', url: "https://pokeapi.co/api/v2/pokemon/4/"}
//         },
//         {   
//             params: {name: 'raticate'}, 
//             props: {name: 'raticate', url: "https://pokeapi.co/api/v2/pokemon/20/"}
//         }
//     ];
// }) satisfies GetStaticPaths;

export const getStaticPaths = (async() => {

    const resp = await fetch('https://pokeapi.co/api/v2/pokemon/?limit=151')
    const {results} = (await resp.json()) as PokemonListResponse


    return results.map(({name, url}) =>({
        params: {name},
        props: {name, url}
    }))
}) satisfies GetStaticPaths;

const {name} = Astro.params
const {url} = Astro.props

const id = url.split('/').at(-2)
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
---


<MainLayout title="Algun problema">

    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>   
            <a class="hover:underline bg-blue-500 mx-auto flex justify-center w-auto py-2 rounded-2xl font-semibold text-2xl mb-4" href="/">Regresar</a>
            <h1 class="text-5xl capitalize">{name}</h1>
        </div>

        <PokemonCard name={name} url={url} isBig/>
        <audio controls>
            <source src={audioSrc} type="audio/ogg">
        </audio>

    </section>  

</MainLayout>
